.completed {
	color: #d9d9d9;
	text-decoration: line-through;
}


.icon{display: inline-block;}
.icon,
.icon + span{vertical-align: middle;}

.icon.facebook{
  background: url(../img/icon-facebook.png) no-repeat 0 0;
  height: 29px;
  width: 38px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


#toTop{
	position: fixed;
	bottom: 95px;
	right: 40px;
	cursor: pointer;
	display: none;
}
#toTop .fa {margin-right: 5px;}



/* Page */
html {
	font-size: 100%;
}
body {
	margin: 0;
	padding: 10px 20px;
	color: black;
	background: white;
	color: #F0E39E;
	background: #181A12;
}

/* Links */
a {
	color: mediumblue;
	text-decoration: underline;
	color: #6495ED;
}

/* Header */
#header {
	background: #00B7CE;
}

/* Navigation Menu */
#navigation {
	background-color: #484A47;
	margin-top: 20px;
	margin-left: 20px;
}

/* Question */
#question {
	background: #484A47;
}
#question a {
	color: #FF6533;
}

/* Forum = Questions content */
#forum {
	color: #363B29;
	background: #DCDCDC;
}

#forum img{
	max-width: 80%;
	display: block;
	margin: 0 auto;
}

.list-group-item{
	border: 3px solid #111111;
	border-radius: 15px;
}

/* Footer */
#footer {
	color: #E6A948;
	background-color: #484A47;
}

/* --- POSITIONN --- */

/* Page */
body {
	padding: 0;
}


/* Header */
#header {
	padding: 15px 20px 10px 20px;
}

/* Navigation Menu */
#navigation {
	width: 18%;
	float: left;
}

.defaultNavigation{
	position: absolute;
}

.fixNavigation{
	z-index: 9999;
	position: fixed;
	top: 0;
}

#navigation ul {
	margin: 0;
	padding: 20px 10px;
	list-style: none;
}
#navigation a {

	height: 1%;
	padding: 3px 3px 3px 5px;
	line-height: 1.5;
	font-size: .9em;
	text-decoration: none;
}
#navigation p {

	height: 1%;
	padding: 3px 3px 3px 5px;
	line-height: 1.5;
	font-size: .9em;
	text-decoration: none;
}

/* Content */
#content {
	margin-left: 20%;
	margin-bottom: 20px;
	padding: 10px 20px;
}
#content > :first-child {
	margin-top: 10px;
}
#content p, #content li {
	line-height: 1.5;
}

/* Question */
#question {
	padding: 12px 15px;
}

/* Forum = Questions content */
#forum {
	padding: 10px 20px;
}
#forum > :first-child {
	margin-top: 10px;
}

img { max-width: 800px; max-height: 400px; }

/* Footer */
#footer {
	padding: 15px 20px;
	font-size: .85em;
}

.defaultFooter{
	position: fixed;
	bottom: 0;
	width: 100%;
}